root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = tab
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
tab_width = 4

[*.conf]
tab_width = 2
